form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#login {
  width: 380px;
  margin: 100px auto 150px auto;
  text-align: center;
}

#login h2 {
  font-family: "Syne";
  font-size: 30px;
  font-weight: 700;
  color: #1d6154;
  margin-bottom: 20px;
}

#login .login-form {
  width: 380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  box-sizing: border-box;
  gap: 0;
}

#login input {
  height: 50px;
  width: 379px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
  margin: 20px 0 10px 0;
  font-family: "Work Sans";
  font-weight: 550;
  font-size: 14px;
  color: #3d3d3d;
  display: block;
}

#login a {
  color: black;
}

#login button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  border: none;
  margin: 30px auto 10px;
  width: 180px;
  height: 45px;
  text-align: center;
  border-radius: 60px;
}
#login button:hover {
  background-color: #14483f;
}

.login-form .forgot {
  text-align: center;
  font-size: 0.9em;
  color: #3d3d3d;
  text-decoration: underline;
  margin-top: 10px;
}

.login-form .forgot:hover {
  text-decoration: underline;
}
