body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  overflow: auto;
  width: 630px;
  height: 638px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  background-color: #fff;
}

#titlemodal {
  text-align: center;
  color: black;
  font-size: 26px;
  margin: 20px 20px 40px 20px;
}

.fa-trash-can {
  color: white;
  background-color: black;
}

.js-modal-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.js-open-form {
  display: block;
  margin: 20px auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b3b3bb;
}
.photo {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.delete-btn {
  position: absolute; /* par rapport à .photo */
  top: 6px;
  right: 6px;
  width: 26px;
  height: 26px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.delete-btn i {
  color: white;
  font-size: 14px;
}

.delete-btn:hover {
  background: rgba(0, 0, 0, 0.85);
}
